.menu-landing {
  background-color: #f2da3a;
  color: #000;
}

.menu-landing__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-landing__logo {
  width: 188px
}

.menu-landing__nav {
  display: flex;
  align-items: center;
}

.menu-landing__link {
  color: #000;
  line-height: 1;
  padding: 20px 10px;
  margin: 0 10px;
}

.menu-landing__link:hover {
  color: #000;
  opacity: .6;
  text-decoration: none;
}
