/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'TT Commons';
  font-display: swap;
  src:  url('../../static/font/TT-Commons-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  font-display: swap;
  src:  url('../../static/font/TT-Commons-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  font-display: swap;
  src:  url('../../static/font/TT-Commons-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  font-display: swap;
  src:  url('../../static/font/TT-Commons-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* You can override the default Infima variables here. */
:root {
  /* font-size: 18px; */
  --ifm-color-primary: #6652e4;
  --ifm-color-primary-dark: #4e37e0;
  --ifm-color-primary-darker: #4e37e0;
  --ifm-color-primary-darkest: #331dbc;
  --ifm-color-primary-light: #7e6de8;
  --ifm-color-primary-lighter: #8a7aea;
  --ifm-color-primary-lightest: #ada2f1;
  --ifm-font-family-base: TT Commons, system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --ifm-code-font-size: 95%;
  font-size: 1.2rem;
  font-family: TT Commons;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f1d624;
  --ifm-color-primary-dark: #eacd0f;
  --ifm-color-primary-darker: #ddc20e;
  --ifm-color-primary-darkest: #b6a00c;
  --ifm-color-primary-light: #f3db3e;
  --ifm-color-primary-lighter: #f3dd4b;
  --ifm-color-primary-lightest: #f6e572;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer--dark {
  --ifm-footer-background-color: #242424;
}
