.footer-landing {
  background-color: #242424;
  color: #fff;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 1.2;
}

.footer-landing__button {
  background-color: #fff;
  color: #000;
  padding: 12px 20px 10px;
  box-shadow: -4px 4px 0 0 #000;
  border: 2px solid #000;
  font-weight: 700;
  cursor: pointer;
}

.footer-landing__top {
  display: flex;
  flex-wrap: wrap;
}

.footer-landing__top-quarter {
  width: 100%;
  display: flex;
  align-items: center;
  height: 120px;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (min-width: 768px) {
  .footer-landing__top-quarter {
    width: 50%;
  }
}

.footer-landing__top-quarter::before {
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}

.footer-landing__top-quarter img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .footer-landing__top-quarter:nth-child(odd) {
    padding-left: 50px;
  }

  .footer-landing__top-quarter:nth-child(even) {
    padding-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-landing__top-quarter:nth-child(odd) {
    padding-left: 150px;
  }

  .footer-landing__top-quarter:nth-child(even) {
    padding-right: 150px;
  }
}

@media screen and (min-width: 1920px) {
  .footer-landing__top-quarter:nth-child(odd) {
    padding-left: 250px;
  }

  .footer-landing__top-quarter:nth-child(even) {
    padding-right: 250px;
  }
}

.footer-landing__top-content {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-landing__top-content {
    align-items: center;
    flex-direction: row;
  }
}

.footer-landing__top-content h3 {
  font-size: 32px;
  margin: 0;
  color: #000;
}

.footer-landing__top-career h3 {
  flex-basis: 50%;
}

.footer-landing__top-career::before {
  background-color: rgba(255, 255, 255, .9);
}

.footer-landing__top-contact h3 {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-landing__top-contact h3 {
    width: 40%;
    margin-bottom: 0;
  }
}

.footer-landing__top-contact::before {
  background-color: rgba(242, 218, 58, .9);
}

.footer-landing__top-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .footer-landing__top-details {
    width: 60%;
  }
}

.footer-landing__top-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;
}

.footer-landing__top-data--phone {
  display: inline-block;
  color: #000;
}

.footer-landing__top-data--phone:hover {
  color: #000;
  text-decoration: none;
}

.footer-landing__top-data--phone a span {
  color: inherit;
}

.footer-landing__top-data--phone .mini-flag {
  position: static;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-landing__top-bldr .footer-landing__top-content {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .footer-landing__top-bldr .footer-landing__top-content {
    justify-content: flex-start;
  }
}

.footer-landing__top-bldr .footer-landing__top-logo {
  margin-right: 30px;
}

.footer-landing__top-bldr .footer-landing__top-logo img {
  position: static;
}

.footer-landing__top-bldr  .footer-landing__top-contact {
  font-size: 22px;
  line-height: 1.4;
  max-width: 60%;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .footer-landing__top-bldr  .footer-landing__top-contact {
    max-width: unset;
  }
}

.footer-landing__top-newsletter {
  color: #000;
}

.footer-landing__top-newsletter::before {
  background-color: rgba(170, 197, 218, .9);
}

.footer-landing__top-newsletter .footer-landing__top-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-landing__top-newsletter-subscribe {
  display: flex;
  font-size: 22px;
  color: #000;
  text-decoration: underline;
  font-weight: 700;
}

.footer-landing__top-newsletter-subscribe:hover {
  color: #000;
}

.footer-landing__top-newsletter .footer-landing__top-sm {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  .footer-landing__top-newsletter .footer-landing__top-sm {
    flex-wrap: nowrap;
  }
}

.footer-landing__top-newsletter .footer-landing__top-sm a {
  width: 48px;
  height: 43px;
  padding: 10px;
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: -2px 2px 0 0 #000;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.footer-landing__top-icon-svg-wrapper {
  max-width: 100%;
}

.footer-landing__top-newsletter .footer-landing__top-sm a img {
  position: static;
}

.footer-landing__bottom {
  padding: 50px;
}

@media screen and (min-width: 992px) {
  .footer-landing__bottom {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .footer-landing__bottom {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (min-width: 1920px) {
  .footer-landing__bottom {
    padding-left: 250px;
    padding-right: 250px;
  }
}

.footer-landing__bottom-links {
  display: flex;
}

.footer-landing__bottom-menu,
.footer-landing__bottom-info {
  display: flex;
  width: 50%;
}

.footer-landing__bottom-menu-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer-landing__bottom-info {
  display: flex;
  flex-direction: column;
}

.footer-landing__bottom-info-places {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.footer-landing__bottom-info-places-item {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  margin: 15px 0;
}

.footer-landing__bottom-info-places-item-title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 5px;
}

.footer-landing__bottom-info-badges {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-landing__bottom-info-badges a {
  margin-bottom: 0;
  width: 23%;
}

.footer-landing__bottom-info-badges a img {
  filter: grayscale(1);
  max-height: 100px;
}

.footer-landing__bottom-copyrights {
  width: 100%;
  text-align: right;
  font-size: 14px;
  margin-bottom: 0;

}

.footer-landing__bottom-link {
  color: inherit;
  text-decoration: none;
  padding-bottom: 15px;
}

.footer-landing__bottom-link:hover {
  color: inherit;
  text-decoration: none;
}

.footer-landing__bottom-title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .footer-landing__top-quarter {
    width: 100%;
  }
}
