.intro {
  display: flex;
  align-items: center;
  background-color: #f2da3a;
  color: #000;
  font-size: 1rem;
  min-height: calc(100vh - 75px);
  padding-top: 0;
  padding-bottom: 30px;
}

.intro__container {
  display: flex;
  align-items: center;
}

.intro__img-box,
.intro__description {
  width: 50%;
}

.intro__img-box {
  padding-right: 50px;
}

.intro__title {
  font-size: 6rem;
  line-height: .9;
}

.intro__title-top,
.intro__title-bottom {
  position: relative;
}

.intro__title-top-text {
  position: relative;
}

.intro__title-bottom-text {
  position: absolute;
  top: 0;
  left: 0;
}

.intro__subtitle {
  font-size: 1.75rem;
}

.intro__button {
  display: inline-flex;
  background-color: #fff;
  color: #000;
  padding: 18px 62px 12px;
  border: 2px solid #000;
  box-shadow: -4px 4px 0 0 #000;
  font-size: 1.4rem;
  line-height: 1;
}

.intro__button:hover {
  color: #000;
  text-decoration: none;
}

.intro__arrow {
  position: absolute;
  top: -48px;
  right: -160px;
}

.intro__scribble {
  position: relative;
  top: 5px;
  left: -30px;
}

@media only screen and (max-width: 1200px) {
  .intro__title {
    font-size: 5.2rem;
  }

  .intro__title-top,
  .intro__title-bottom {
    display: flex;
  }
}

@media only screen and (max-width: 992px) {
  .intro {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .intro__img-box,
  .intro__description {
    width: 100%;
  }

  .intro__img-box {
    display: none;
  }

  .intro__title {
    font-size: 3rem;
  }

  .intro__arrow {
    right: -100px;
    max-width: 70px;
  }

  .intro__scribble {
    top: -10px;
    left: -30px;
    max-width: 330px;
  }
}
