name: Continuous Delivery
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "**"

jobs:
  ci_cd:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "yarn"
      - name: Install dependencies
        id: install-deps
        run: yarn install --frozen-lockfile
      - name: Lint
        id: Lint
        run: yarn lint
      # - name: Test
      #   id: Test
      #   run: yarn test
      - name: Build
        id: build
        run: yarn build
      - name: Deploy prod
        if: github.ref == 'refs/heads/main'
        id: deploy-prod
        run: |
          pip install awscli
          scripts/deploy.sh
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ID_ACCESS_KEY_PROD}}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_PROD }}
          FRONTEND_BUCKET_NAME: ${{ secrets.AWS_FRONTEND_BUCKET_NAME_PROD}}
          FRONTEND_CLOUDFRONT_ID: ${{ secrets.AWS_FRONTEND_CLOUDFRONT_ID_PROD}}
